@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	p,
	figure,
	blockquote,
	dl,
	dd {
		margin-block-end: 0;
	}

	dd {
		margin-inline: 0;
	}

	body {
		margin: 0;
		padding: 0;
	}

	ul[role="list"],
	ol[role="list"] {
		list-style: none;
	}

	body {
		line-height: 1.5;
	}

	h1,
	h2,
	h3,
	h4,
	button,
	input,
	label {
		line-height: 1.1;
	}

	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
	}

	a:not([class]) {
		text-decoration-skip-ink: auto;
		color: currentColor;
	}

	img,
	picture {
		max-width: 100%;
		display: block;
	}

	figure {
		margin: 0;
		padding: 0;
	}

	dialog {
		padding: 0;
	}

	input,
	button,
	textarea,
	select {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		letter-spacing: inherit;
	}

	textarea:not([rows]) {
		min-height: 10em;
	}

	:target {
		scroll-margin-block: 5ex;
	}
}

@layer base {
	:root {
		--ff-normal: "Inter", sans-serif;
		--ff-writing: "Caveat", cursive;

		/* Color */
		--dc--grey--dark: rgba(237, 237, 237, 1);
		--dc--grey--darkest: rgba(100, 100, 100, 1);
		--dc--grey--darker: rgba(226, 226, 226, 1);
		--dc--grey--light: rgba(230, 230, 230, 1);

		--dc--white--pure: rgba(255, 255, 255, 1);
		--dc--white--offwhite: rgba(250, 250, 250, 1);
		--dc--white--orangish: rgba(255, 251, 248, 1);

		--dc--accent--green-light: rgba(4, 209, 49, 1);
		--dc--accent--green: rgba(8, 178, 45, 1);
		--dc--accent--green-dark: rgba(38, 92, 30, 1);
		--dc--accent--yellow-light: rgba(255, 243, 50, 1);
		--dc--accent--yellow: rgba(233, 220, 12, 1);
		--dc--accent--yellow-dark: rgba(113, 117, 0, 1);
		--dc--accent--blackbean: rgba(59, 20, 0, 1);
		--dc--accent--blue: rgba(13, 125, 237, 1);
		--dc--accent--skyblue: rgba(13, 222, 237, 1);
		--dc--accent--blue-dark: rgba(29, 119, 255, 1);
		--dc--accent--purple: rgba(225, 13, 237, 1);
		--dc--accent--purple-light: rgba(219, 102, 254, 1);
		--dc--accent--purple-dark: rgba(225, 1, 184, 1);
		--dc--accent--purple-lighter: rgba(232, 209, 245, 1);
		--dc--accent--red: rgba(237, 13, 69, 1);
		--dc--accent--red-light: rgba(237, 13, 136, 1);
		--dc--accent--red-dark: rgba(195, 14, 114, 1);
		--dc--accent--orange-dark: rgba(225, 79, 5, 1);
		--dc--accent--orange: rgba(237, 88, 13, 1);
		--dc--accent--orange-darker: rgba(196, 71, 8, 1);
		--dc--accent--orange-darkest: rgba(198, 67, 1, 1);
		--dc--accent--red-darker: rgba(187, 3, 49, 1);
		--dc--accent--indigo: rgba(110, 13, 237, 1);
		--dc--accent--indigo-dark: rgba(100, 14, 213, 1);
		--dc--accent--indigo-darker: rgba(65, 0, 150, 1);
		--dc--accent--indigo-darkish: rgba(83, 9, 180, 1);
		--dc--accent--indigo-darkest: rgba(62, 7, 134, 1);
		--dc--accent--blue-darkest: rgba(59, 0, 222, 1);
		--dc--accent--indigo-dye: rgba(31, 64, 89, 1);
		--dc--accent--darkcyan: rgba(3, 153, 164, 1);
		--dc--accent--darkslategray: rgba(27, 73, 71, 1);
		--dc--accent--denim: rgba(3, 93, 184, 1);
		--dc--accent--prussian-blue: rgba(14, 43, 65, 1);
		--dc--accent--russian-violet: rgba(40, 10, 67, 1);
		--dc--accent--jet: rgba(44, 43, 44, 1);

		/* Font Sizes */
		--step-0: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem); /* 14px */
		--step-1: clamp(0.875rem, 0.788rem + 0.4348vw, 1.125rem); /* 18px */
		--step-2: clamp(0.75rem, 0.5761rem + 0.8696vw, 1.25rem); /* 20px */
		--step-3: clamp(1.125rem, 0.9946rem + 0.6522vw, 1.5rem); /* 24px */
		--step-4: clamp(1.25rem, 1.1196rem + 0.6522vw, 1.625rem); /* 26px */
		--step-5: clamp(1.5rem, 1.0652rem + 2.1739vw, 2.75rem); /* 44px */
		--step-6: clamp(2rem, 1.3043rem + 3.4783vw, 4rem); /* 64px */
		--step-7: clamp(2.5rem, 1.4565rem + 5.2174vw, 5.5rem); /* 88px */
		--step-8: clamp(4rem, 2.6087rem + 6.9565vw, 8rem); /* 128px */

		--fw-medium: 500;
		--fw-semibold: 600;
		--fw-bold: 700;
		--fw-black: 900;

		/* Letter Spacing */
		--ls-s: -0.03em; /* -3% */
		--ls-m: -0.05em; /* -5% */
		--ls-l: -0.06em; /* -6% */
		--ls-xl: --0.07em /* -7% */

		/* Elevations/Shadows */
		/* Effect styles */
		--box-elevation: 0px 20px 30px rgba(157, 157, 157, 0.25);
		--scroll-elevation: 0px 20px 100px rgba(120, 117, 117, 0.25);
		--button-elevation: 0px 4px 12.100000381469727px rgba(230, 230, 230, 0.25),
			inset 0px -4px 4px rgba(255, 255, 255, 0.25),
			inset 11px 7px 0px rgba(225, 79, 5, 1),
			0px -0.5px 1px rgba(255, 255, 255, 0.55), 0px 0.5px 2px rgba(0, 0, 0, 0.5),
			0px -0.5px 1px rgba(255, 255, 255, 0.55), 0px 0.5px 2px rgba(0, 0, 0, 0.5);
		--input-elevation: 0px 4px 12.100000381469727px rgba(230, 230, 230, 0.25);
		--number--one-elevation: 0px 4px 12.100000381469727px
				rgba(230, 230, 230, 0.25),
			inset 0px -4px 4px rgba(255, 255, 255, 0.25),
			inset 11px 7px 0px rgba(225, 79, 5, 1),
			0px -0.5px 1px rgba(255, 255, 255, 0.55), 0px 0.5px 2px rgba(0, 0, 0, 0.5);
		--number--two-elevation: 0px 4px 12.100000381469727px
				rgba(230, 230, 230, 0.25),
			inset 0px -4px 4px rgba(255, 255, 255, 0.25),
			inset 11px 7px 0px rgba(7, 213, 228, 1),
			0px -0.5px 1px rgba(255, 255, 255, 0.55), 0px 0.5px 2px rgba(0, 0, 0, 0.5);
		--number--four-elevation: 0px 4px 12.100000381469727px
				rgba(230, 230, 230, 0.25),
			inset 0px -4px 4px rgba(255, 255, 255, 0.25),
			inset 11px 7px 0px rgba(9, 222, 56, 1),
			0px -0.5px 1px rgba(255, 255, 255, 0.55), 0px 0.5px 2px rgba(0, 0, 0, 0.5);
		--number--three-elevation: 0px 4px 12.100000381469727px
				rgba(230, 230, 230, 0.25),
			inset 0px -4px 4px rgba(255, 255, 255, 0.25),
			inset 11px 7px 0px rgba(225, 5, 218, 1),
			0px -0.5px 1px rgba(255, 255, 255, 0.55), 0px 0.5px 2px rgba(0, 0, 0, 0.5);
		--number--five-elevation: 0px 4px 12.100000381469727px
				rgba(230, 230, 230, 0.25),
			inset 0px -4px 4px rgba(255, 255, 255, 0.25),
			inset 11px 7px 0px rgba(248, 236, 44, 1),
			0px -0.5px 1px rgba(255, 255, 255, 0.55), 0px 0.5px 2px rgba(0, 0, 0, 0.5);
		--number--six-elevation: 0px 4px 12.100000381469727px
				rgba(230, 230, 230, 0.25),
			inset 0px -4px 4px rgba(255, 255, 255, 0.25),
			inset 11px 7px 0px rgba(100, 14, 213, 1),
			0px -0.5px 1px rgba(255, 255, 255, 0.55), 0px 0.5px 2px rgba(0, 0, 0, 0.5);
		--number--seven-elevation: 0px 4px 12.100000381469727px
				rgba(230, 230, 230, 0.25),
			inset 0px -4px 4px rgba(255, 255, 255, 0.25),
			inset 11px 7px 0px rgba(217, 20, 69, 1),
			0px -0.5px 1px rgba(255, 255, 255, 0.55), 0px 0.5px 2px rgba(0, 0, 0, 0.5);
		--number--nine-elevation: 0px 4px 12.100000381469727px
				rgba(230, 230, 230, 0.25),
			inset 0px -4px 4px rgba(255, 255, 255, 0.25),
			inset 11px 7px 0px rgba(221, 31, 136, 1),
			0px -0.5px 1px rgba(255, 255, 255, 0.55), 0px 0.5px 2px rgba(0, 0, 0, 0.5);
		--number--eight-elevation: 0px 4px 12.100000381469727px
				rgba(230, 230, 230, 0.25),
			inset 0px -4px 4px rgba(255, 255, 255, 0.25),
			inset 11px 7px 0px rgba(25, 115, 204, 1),
			0px -0.5px 1px rgba(255, 255, 255, 0.55), 0px 0.5px 2px rgba(0, 0, 0, 0.5);
		--number--ten-elevation: 0px 4px 12.100000381469727px
				rgba(230, 230, 230, 0.25),
			inset 0px -4px 4px rgba(255, 255, 255, 0.25),
			inset 11px 7px 0px rgba(24, 52, 73, 1),
			0px -0.5px 1px rgba(255, 255, 255, 0.55), 0px 0.5px 2px rgba(0, 0, 0, 0.5);
	}

	body {
		font-family: var(--ff-normal);
		background: radial-gradient(
			var(--dc--grey--dark) 25%,
			transparent 25% 100%
		);
		background-size: 10px 10px;
		background-repeat: space;
		padding-block: 64px;
		padding-inline: 16px;
	}
}

@layer styling {
	.container {
		max-width: 1220px;
		margin-inline: auto;
	}

	h1 {
		font-size: var(--step-8);
		line-height: 1.2;
		margin: 0;
		margin-block-end: 64px;
		letter-spacing: var(--ls-s);
		display: flex;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 72px;

		& > span {
			display: inline-block;
			padding: 8px;
		}

		& > span:first-child {
			border: 2px solid var(--dc--accent--blue-dark);
			position: relative;
			color: var(--dc--accent--jet);

			&::before,
			&::after,
			.empty {
				content: "";
				width: 12px;
				height: 12px;
				background: var(--dc--white--pure);
				border: 0.5px solid var(--dc--accent--blue-dark);
				position: absolute;
			}

			&::before {
				top: -8px;
				left: -6px;
			}
			&::after {
				top: -8px;
				right: -6px;
			}

			.first {
				bottom: -8px;
				left: -6px;
			}

			.second {
				bottom: -8px;
				right: -6px;
			}

			.info {
				position: absolute;
				display: inline-block;
				text-wrap: nowrap;

				border-radius: 10px;
				padding: 8px;
				background: var(--dc--accent--blue-dark);
				color: var(--dc--white--pure);

				font-size: var(--step-2);
				letter-spacing: var(--ls-l);
				font-weight: var(--fw-semibold);
				top: 105%;
				left: 0;
				right: 0;
				width: fit-content;
				margin-inline: auto;

				
				&::before {
					content: "";
					position: absolute;
					width: calc(100% - 14px);
					height: calc(100% - 16px);
					background: var(--dc--accent--blue-dark);
					left: 8px;
					top: 8px;
					animation: fade-in-out 8s linear alternate infinite;
				}
				
			}

			.super {
				position: absolute;
				display: inline-block;
				text-wrap: nowrap;

				font-family: var(--ff-writing);
				font-size: var(--step-6);
				color: var(--dc--accent--purple-light);
				transform: rotate(-9.64deg);

				top: -48px;
				left: 0;
				right: 0;
				width: fit-content;
				margin-inline: auto;
			}
		}

		& > span:last-child {
			background: var(--dc--accent--purple-lighter);
			color: var(--dc--accent--russian-violet);
			border-right: 16px solid var(--dc--accent--purple-light);
			/* margin-block-start: 60px; */

			position: relative;

			&::after {
				content: attr(data-info);
				color: var(--dc--white--pure);
				background: var(--dc--accent--purple-light);
				padding: 8px;
				font-size: var(--step-1);
				text-wrap: nowrap;
				letter-spacing: var(--ls-l);

				position: absolute;
				top: -24px;
				right: -16px;
				width: fit-content;
			}
		}
	}

	.input {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		/* width: 100%; */

		input {
			flex: 1 1 850px;
			font-size: var(--step-7);
			font-weight: var(--fw-black);
			color: var(--dc--grey--darkest);
			letter-spacing: var(--ls-s);
			line-height: normal;
			min-width: 0;
			padding: 8px 20px;
			border: 3px solid var(--dc--grey--darker);
			border-radius: 16px;
			background: var(--dc--white--pure);
			box-shadow: var(--input-elevation);
		}

		button {
			flex: 1 0 243px;
			font-size: var(--step-5);
			font-weight: var(--fw-bold);
			letter-spacing: var(--ls-s);
			line-height: normal;
			padding: 8px 20px;
			border-radius: 16px;
			background: var(--dc--accent--orange);
			color: var(--dc--white--pure);
			border: 2px solid var(--dc--accent--orange-darkest);
			box-shadow: var(--button-elevation);
			cursor: pointer;

			&:hover {
				background: var(--dc--accent--orange-darkest);
			}
		}
	}

	.info-section {
		p {
			font-size: var(--step-6);
			font-weight: var(--fw-bold);
			line-height: normal;
			letter-spacing: var(--ls-m);
			color: var(--dc--accent--orange);
			margin: 0;

			&:first-child {
				margin-block-start: 24px;
				position: relative;
				padding-inline-end: 24px;

				span:nth-child(n + 2) {
					margin-inline-end: -24px;
					vertical-align: bottom;
				}

				&::before {
					content: url(https://ik.imagekit.io/ndtwmeq4p/dc/up%20arrow.png);
					position: absolute;
					top: -48px;
					left: 240px;
				}
			}
		}
	}

	.number {
		display: inline-block;
		border-radius: 16px;
		padding: 8px 20px;

		background: var(--bg-color);
		color: var(--color);
		border: 2px solid var(--border-color);
		box-shadow: var(--elevation);
		transform: rotate(var(--rotation));

		font-size: var(--step-5);
		line-height: normal;
		letter-spacing: var(--ls-s);

		/* transform: none; */
		transition: display 0.4s var(--delay) ease-in-out, transform 0.6s ease-in;
		transition-behavior: allow-discrete;

		@starting-style {
			/* transform: translateY(12px); */
			transform: rotate(0) translateX(12px);
		}

		&.small {
			font-size: var(--step-3);
			padding: 8px 16px;
			border-radius: 16px;
		}

		&[data-number="one"] {
			--bg-color: var(--dc--accent--orange);
			--color: var(--dc--white--pure);
			--border-color: var(--dc--accent--orange-darkest);
			--elevation: var(--number--one-elevation);
			--rotation: 6.35deg;
			--delay: 0.125s;
		}

		&[data-number="two"] {
			--bg-color: var(--dc--accent--skyblue);
			--color: var(--dc--white--pure);
			--border-color: var(--dc--accent--darkcyan);
			--elevation: var(--number--two-elevation);
			--rotation: -2.2deg;
			--delay: 0.25s;
		}

		&[data-number="three"] {
			--bg-color: var(--dc--accent--purple);
			--color: var(--dc--white--pure);
			--border-color: var(--dc--accent--purple-dark);
			--elevation: var(--number--three-elevation);
			--rotation: 1.75deg;
			--delay: 0.275s;
		}

		&[data-number="four"] {
			--bg-color: var(--dc--accent--green-light);
			--color: var(--dc--accent--green-dark);
			--border-color: var(--dc--accent--green);
			--elevation: var(--number--four-elevation);
			--rotation: 7.22deg;
			--delay: 0.325s;
		}

		&[data-number="five"] {
			--bg-color: var(--dc--accent--yellow-light);
			--color: var(--dc--accent--yellow-dark);
			--border-color: var(--dc--accent--yellow);
			--elevation: var(--number--five-elevation);
			--rotation: -2.99deg;
			--delay: 0.4s;
		}

		&[data-number="six"] {
			--bg-color: var(--dc--accent--indigo);
			--color: var(--dc--white--pure);
			--border-color: var(--dc--accent--indigo-darkish);
			--elevation: var(--number--six-elevation);
			--rotation: 1.22deg;
			--delay: 0.55s;
		}

		&[data-number="seven"] {
			--bg-color: var(--dc--accent--red);
			--color: var(--dc--white--pure);
			--border-color: var(--dc--accent--red-darker);
			--elevation: var(--number--seven-elevation);
			--rotation: -3.7deg;
			--delay: 0.65s;
		}

		&[data-number="eight"] {
			--bg-color: var(--dc--accent--blue);
			--color: var(--dc--white--pure);
			--border-color: var(--dc--accent--denim);
			--elevation: var(--number--eight-elevation);
			--rotation: 0deg;
			--delay: 0.75s;
		}

		&[data-number="nine"] {
			--bg-color: var(--dc--accent--red-light);
			--color: var(--dc--white--pure);
			--border-color: var(--dc--accent--red-dark);
			--elevation: var(--number--nine-elevation);
			--rotation: -6.69deg;
			--delay: 0.85s;
		}

		&[data-number="ten"] {
			--bg-color: var(--dc--accent--indigo-dye);
			--color: var(--dc--white--pure);
			--border-color: var(--dc--accent--prussian-blue);
			--elevation: var(--number--ten-elevation);
			--rotation: 6.07deg;
			--delay: 1s;
		}
	}

	.details {
		overflow: hidden;
		padding: 20px 16px;
		background: var(--dc--accent--indigo-dark);
		color: var(--dc--white--pure);
		box-shadow: var(--box-elevation);
		width: 344px;
		height: 265px;
		border-radius: 10px;
		position: relative;

		display: flex;
		align-items: start;
		justify-content: space-between;

		font-size: var(--step-1);

		h2 {
			font-size: var(--step-1);
			margin: 0;
		}

		p {
			width: 80%;
			margin-block-start: 12px;
		}

		.icon {
			display: block;
			padding: 4px;
			border-radius: 50%;
			background: var(--dc--white--pure);
			height: 28px;
			width: 28px;

			flex: 0;
		}

		img {
			position: absolute;

			&[id="svg-one"] {
				bottom: 46px;
				left: 30%;
			}

			&[id="svg-two"] {
				bottom: -12px;
				right: 20%;
			}

			&[id="svg-three"] {
				top: 56px;
				right: -8px;
			}

			&[id="svg-four"] {
				bottom: 20px;
				left: -12px;
			}
		}
	}

	.details-wrapper {
		transform: translateX(-97%);
		transition: transform 0.4s ease-in-out;
		position: fixed;
		bottom: 8px;
		left: 0;
		z-index: 4;

		padding-inline-start: 8px;

		&:hover {
			transform: none;
		}

		&::after {
			content: url(https://ik.imagekit.io/ndtwmeq4p/dc/fold.svg?updatedAt=1749338846227);
			position: absolute;
			top: -12px;
			right: 0;
			z-index: -1;
		}
	}

	.info-bar {
		position: fixed;
		bottom: 8px;
		right: 8px;

		display: grid;
		justify-items: end;

		button {
			padding: 5px 7px;
			border-radius: 7px;
			box-shadow: var(--box-elevation);
			font-size: var(--step-0);
			background: var(--dc--accent--indigo-dark);
			color: var(--dc--white--pure);
			border: none;
			cursor: pointer;

			&:hover {
				background: var(--dc--accent--indigo-darker);
			}

			.icon svg {
				vertical-align: -4px;
			}
		}

		.table {
			display: grid;
			grid-template-columns: repeat(11, 28px);
			grid-auto-rows: 28px;
			gap: 4px;
			padding: 10px 8px;
			background: var(--dc--accent--indigo-dark);
			color: var(--dc--white--pure);
			border-radius: 7px;
			box-shadow: var(--box-elevation);
			font-size: var(--step-0);
			font-weight: var(--fw-medium);
			letter-spacing: var(--ls-xl);
			margin-block-end: 8px;
	
			.table-item {
				text-align: center;
				display: grid;
				place-content: center;
				position: relative;

				&[data-info]:hover {
					background: var(--dc--white--pure);
					color: var(--dc--accent--indigo-dark);
					border-radius: 50%;

					&::after {
						position: absolute;
						content: attr(data-info);
						width: max-content;
						text-wrap: nowrap;
						top: 115%;
						left: -50%;
						border-radius: 4px;
						padding: 4px;
						background: var(--dc--accent--jet);
						color: var(--dc--white--offwhite);
						font-size: 14px;
						z-index: 3;
						box-sizing: var(--input-elevation);
					}

				}
				
				&:nth-child(11n + 11):hover {
					&::after {
						left: -190%;
					}
				}
			}

			display: none;
			transform: translateX(100%);
			transition: display 0.4s ease-in, transform 0.4s ease-in;
			transition-behavior: allow-discrete;

			&[data-open="true"] {
				display: grid;
				transform: none;

				@starting-style {
					/* display: none; */
					transform: translateX(100%);
				}
			}

			&[data-open="false"] {
				display: none;
			}
		}
	}

	.one {
		--bg-color: var(--dc--accent--orange);
		--color: var(--dc--white--pure);
		--border-color: var(--dc--accent--orange-darkest);
		--elevation: var(--number--one-elevation);
		--rotation: 6.35deg;
	}

	.two {
		--bg-color: var(--dc--accent--skyblue);
		--color: var(--dc--white--pure);
		--border-color: var(--dc--accent--darkcyan);
		--elevation: var(--number--two-elevation);
		--rotation: -2.2deg;
	}

	.three {
		--bg-color: var(--dc--accent--purple);
		--color: var(--dc--white--pure);
		--border-color: var(--dc--accent--purple-dark);
		--elevation: var(--number--three-elevation);
		--rotation: 1.75deg;
	}

	.four {
		--bg-color: var(--dc--accent--green-light);
		--color: var(--dc--accent--green-dark);
		--border-color: var(--dc--accent--green);
		--elevation: var(--number--four-elevation);
		--rotation: 7.22deg;
	}

	.five {
		--bg-color: var(--dc--accent--yellow-dark);
		--color: var(--dc--accent--yellow-dark);
		--border-color: var(--dc--accent--yellow);
		--elevation: var(--number--five-elevation);
		--rotation: -2.99deg;
	}

	.six {
		--bg-color: var(--dc--accent--indigo);
		--color: var(--dc--white--pure);
		--border-color: var(--dc--accent--indigo-darkish);
		--elevation: var(--number--six-elevation);
		--rotation: 1.22deg;
	}

	.seven {
		--bg-color: var(--dc--accent--red);
		--color: var(--dc--white--pure);
		--border-color: var(--dc--accent--red-darker);
		--elevation: var(--number--seven-elevation);
		--rotation: -3.7deg;
	}

	.eight {
		--bg-color: var(--dc--accent--blue);
		--color: var(--dc--white--pure);
		--border-color: var(--dc--accent--denim);
		--elevation: var(--number--eight-elevation);
		--rotation: 0deg;
	}

	.nine {
		--bg-color: var(--dc--accent--red-light);
		--color: var(--dc--white--pure);
		--border-color: var(--dc--accent--red-dark);
		--elevation: var(--number--nine-elevation);
		--rotation: -6.69deg;
	}

	.ten {
		--bg-color: var(--dc--accent--indigo-dye);
		--color: var(--dc--white--pure);
		--border-color: var(--dc--accent--prussian-blue);
		--elevation: var(--number--ten-elevation);
		--rotation: 6.07deg;
	}

	.rules {
		background: var(--dc--white--orangish);
		max-width: 790px;
		min-height: 360px;
		border-radius: 15px;
		border: 2px solid var(--dc--accent--orange);
		box-shadow: var(--scroll-elevation);
		position: relative;
		margin-block-start: 90px;
		margin-inline: auto;
		padding-block: 20px 64px;
		padding-inline: 24px;

		display: none;
		/* display: flex; */
	
		&[data-open="true"] {
			display: flex;
			transform: none;
			opacity: 1;

			transition: transform 0.2s ease;

			@starting-style {
				transform: translateY(100%);
				opacity: 0;
			}
			/* Work on, might need to change the before and after or delay them*/
		}

		gap: 12px;
		
		.column {
			background: var(--dc--white--pure);
			border: 1px solid var(--dc--grey--light);
			border-radius: 32px;
			width: 40px;

			flex: 0 0 auto;
		}

		.rule-container {
			flex: 1 1 auto;

			display: grid;
			grid-auto-rows: auto;
			gap: 32px;
			overflow:hidden; /* hotfix */
			overflow-x: auto;

			.rule-item {
				max-width: 500px;
				display: grid;
				gap: 12px;

				align-self: self-start;

				.number {
					margin-inline-start: 6px;
				}

				h3 {
					font-size: var(--step-4);
					line-height: normal;
					letter-spacing: var(--ls-m);
					color: var(--bg-color);
					margin: 0;
				}

				.breakdown {
					p {
						font-size: var(--step-3);
						font-weight: var(--fw-black);
						letter-spacing: var(--ls-s);
						color: var(--dc--grey--darkest);
						margin-block-start: -16px;
						position: relative;
					}

					.number {
						margin-block-start: 16px;
						position: relative;
					}

					.box-input {
						display: inline-block;
						font-size: var(--step-3);
						font-weight: var(--fw-black);
						letter-spacing: var(--ls-s);
						border-radius: 16px;
						border: 3px solid var(--dc--grey--darker);
						background: var(--dc--white--pure);
						padding: 8px 20px;
						margin-block-start: 16px;
						line-height: normal;
						position: relative;

						&[data-active="true"] {
							border: 3px solid var(--bg-color);
						}
					}
				}

				p {
					color: var(--dc--accent--blackbean);
					letter-spacing: var(--ls-m);
					font-weight: var(--fw-semibold);
					font-size: var(--step-1);
					margin-block-start: 0;

					
				}

				.breakdown + p {
					margin-block-start: 16px;

					&[data-size="big"] {
						margin-block-start: 24px;
					}

					&[data-size="bigger"] {
						margin-block-start: 36px;
					}
				}
			}
		}


		&::before, &::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 230px;
			background-size: 100%;
			background-repeat: no-repeat;
			z-index: -1;
		}

		&::before {
			background-image: url(https://ik.imagekit.io/ndtwmeq4p/dc/top-flap.svg);
			top: 0;
			left: -12px;
		}

		&::after {
			background-image: url(https://ik.imagekit.io/ndtwmeq4p/dc/bottom-flap.svg);
			bottom: 2px;
			right: -12px;
		}
	}

	#number-divisor {
		margin-inline-end: 12px;
	}

	.box-details-wrapper {
		position: absolute;
		left: 110%;
		top: 60%;

		display: flex;
		gap: 8px;

		&[data-type="bottom"] {
			left: 50%;
			top: 110%;
		}

		&[data-type="starter"] {
			left: 10%;
			top: 110%;
		}

		&[data-type="ender"] {
			left: 25%;
			top: 90%;
		}
	}

	.box-details {

		display: flex;

		svg path {
			stroke: var(--bg-color);
		}

		.text {
			color: var(--bg-color);
			transform: rotate(-4.19deg);
			font-family: var(--ff-writing);
			font-weight: var(--fw-bold);
			font-size: var(--step-3);
			letter-spacing: var(--ls-m);
			text-wrap: nowrap;
		}
	}

	.info-section {
		display: none;
		transform: translateX(100%);
		opacity: 0;

		&[data-open="true"] {
			display: block;
			transform: none;
			opacity: 1;

			transition: transform 0.1s ease;

			@starting-style {
				transform: translateY(100%);
				opacity: 0;
			}
		}
	}

}

@media (width <=1265px) {
	h1 {
		flex-direction: column;
		margin-block-end: 24px;

		& > span:first-child {
			align-self: start;
		}

		& > span:last-child {
			align-self: flex-end;
		}
	}
}

@media (width <=1170px) {
	.info-section {
		p {
			&:first-child::before {
				display: none;
			}
		}
	}
}

@media (width <=725px) {
	.rules {
		&::before {
			left: -8px;
			top: 2px;
		}

		&::after {
			height: 160px;
			right: -8px;
		}
	}
}

@media (width <=525px) {
	.rules {
		&::before {
			left: -5px;
			top: 4px;
		}
	}
}

@keyframes fade-in-out {
	from, 20% {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		
	}

	80%, to {
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	}
}

